version: '3.8'

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    command: gunicorn --chdir /app/backend backend.wsgi:application --bind 0.0.0.0:8000
    volumes:

      - static_volume:/app/backend/staticfiles
      - media_volume:/app/backend/mediafiles
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

  nginx:
    build: ./nginx
    restart: always
    volumes:
      - ./frontend/dist:/app/frontend/dist
      - static_volume:/app/backend/staticfiles
      - media_volume:/app/backend/mediafiles
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/

    ports:
#      migracja na cloudflare, to zakomentowalem
#      - 1337:80
#      - 443:443
#      to dla cloudflare bo cf obsluguje ssl wiec tylko mapowanie 80 80
      - 80:80
    depends_on:
      - backend
#   clouflare ogarnia ssl wiec certbot niepotrzebny
#  certbot:
#    image: certbot/certbot:latest
#    volumes:
#      - ./certbot/www/:/var/www/certbot/
#      - ./certbot/conf/:/etc/letsencrypt/

volumes:
  postgres_data:
  static_volume:
  media_volume: