.body {
  max-width: 90%; /* Adjust this to control the maximum width */
  margin: 20px auto;
  /*font-family: Arial, sans-serif;*/
  padding: 20px;
  display: flex;
  justify-content: center; /* Horizontally center the table */
  align-items: center; /* Vertically center content if necessary */
  flex-direction: column; /* Stack children elements vertically */
  width: 100%; /* Ensure the container takes full width */
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
}