main {
    background-color: white;
    padding: 20px;
}

.App {
  /*text-align: center;*/
  /*background-color: lightblue;*/
  /*padding: 20px;*/
}

body,
html {
  width: 100%;
  margin: 0;
  background-color: #eaeaea;
}
html,
body,
#root {
  height: 100%;

}
